* {
    padding: 0;
    margin: 0;
}
body {
    background: #333;
    font: 11.5px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a, a:active {
    outline: none;
}
#wrapper {
    width: 760px;
    background: #eed;
    margin: 20px auto;
    -moz-box-shadow: 1px 2px 5px #0f0f0f;
    -webkit-box-shadow: 1px 2px 5px #0f0f0f;
    box-shadow: 1px 2px 5px #0f0f0f;
}
#header {
    width: 100%;
    height: 90px;
    background: #000 url('../img/header.png') center left no-repeat;
}
#header h1 {
	display: none; /* hide text header when img available */
}
#toplinks2 {
    width: 100%;
    height: 30px;
    background: #eb6;
}
#intro {
    border-top: 7px solid #eb6;
    border-bottom: 7px solid #eb6;
}
#animal_info_pane {
    width: 520px;
    height: 350px;
    position: relative;
    z-index: 10;
    margin-left: 240px;
    background: #000 url('../img/ajax-loader-wide.gif') center center no-repeat; /* visible when images rotate (fade) */
}
#animal_info_picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 11;
}
#animal_info_picture_fade {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url('../img/ajax-loader-wide.gif') center center no-repeat;
    top: 0;
    z-index: 12;
}
#animal_info_text_wrapper { /* fix safari animation positioning */
    position: absolute;
    bottom: 0;
    z-index: 15;
}
#animal_info_text {
    width: 520px;
    height: 0; /* start hidden */
}
#animal_info_text_bg {
    height: 100%;
    background: #222;
    opacity: 0.5;
}
#animal_info_text p {
    color: #fff;
    font: 11.5px arial, sans-serif;
    line-height: 1.5em;
    padding: 5px 20px;
    position: absolute;
    bottom: 0;
}
ul#animal_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 240px;
    position: absolute;
    z-index: 20;
    float: left;
}
ul#animal_list li {
    height: 50px;
}
ul#animal_list li a {
    display: block;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #ddb;
    color: #333;
    text-decoration: none;
}
ul#animal_list li a.hover {
    background: transparent url('../tab.png') center right no-repeat;
    border: 0;
    height: 50px;
    padding-right: 9px;
    color: #fff;
}
.animal_name {
	display: block;
    padding: 5px 10px 0 10px;
    font-size: 18px;
    line-height: 22px;
}
.animal_species {
    padding: 0 10px;
    font-size: 11px;
    line-height: 12px;
}
#content {
    padding: 0 10px 10px 10px;
    background: #fff;
    border-top: 1px solid #000;
}
#content h2 {
    padding-top: 0.5em;
}
#content p {
    line-height: 1.8em;
}
.sidebox {
	margin: 15px 5px 5px 5px;
	color:#950;
	border: 1px solid #eb6;
	background: #ed8 url('../img/pawprint.png') bottom right no-repeat;
}
.sidebox-header {
	margin: 5px 10px;
	font-size:16px;
	font-weight:normal;
	border-bottom: 3px double #eb6;
}
.sidebox-content {
	margin: 5px 10px;
	font-size: 1.1em;
}
.right {
	float: right;
}
.left {
	float: left;
}
#footer {
    height: 40px;
    position: relative;
    font-size: 0.9em;
    color: #ccc;
    background: #000;
}
.copyright {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
a.cfac-link {
	color: inherit;
	text-decoration: none;
	position: absolute;
	bottom: 10px;
	right: 5px;
}
a.cfac-link img {
	border: 0;
	vertical-align: -4px;
}

/*This is where I'm going to start sjrzrc CSS additions!*/
.aboutus {
	position: relative;
}
#menu a {
	font-size: 15px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px dotted black;
}